@import '../../styles/variables';

#projects{
    background-color: $smog;
    width: 100vw
  }
  h1{
    text-align: center;
    position: relative;
    height: 8rem;
    margin-top: 80px;
    padding-top: 50px;
    font-size: 40px;  
  }
  h1 #projects{
    margin-top: 4rem;
    background-color: #F5F5F5
  }
  .projects{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #F5F5F5;
  }
  .projects-container{
    height: 60vh;
    margin-top: 4rem;
  }
  
  .projects-card{
    margin-right: 2rem;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
  }
  
  .projects-card:hover{
    transform: rotateY(180deg);
  }
  
  .projects-card-front{
    backface-visibility: hidden;
  }
  
  .projects-card-back{
    backface-visibility: hidden;
    transform: rotateY(180deg)
  }
  
  .projects-card-img{
    height: 20rem;
    width: 32rem;
    border: 1px solid lightgray;
  }  
  
  