body{
  max-width:100%
}

.intro{
  height: 90vh;
  width: 100vw;
  background-color: #282c34;
  font-size: 38px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-btn{
  margin-top: 35px;
  padding: 10px 20px 10px 20px;
  font-size: 22px;
  border: 2px solid white;
  color: white;
  background-color: #282c34;
}
.landing-btn:hover{
  color:#E31B6D
}

.navbar{
  color: indianred;
  background-color: #1B242F;
  width: 100vw;
}

ul{
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  padding-top: 8px;
  padding-right: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
li{
  text-decoration: none;
  list-style: none;
  color: #E31B6D;
  margin-left: 25px;
}
p{
  color:#FFFFFF;
  line-height: 30px;
}
span {
  color: #E31B6D;
}

h1{
  text-align: center;
  position: relative;
  height: 8rem;
  margin-top: 80px;
  padding-top: 50px;
  font-size: 40px;  
}
.projects-container{
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.projects-card-img{
  height: 200px;
  width: 170px;
}
