
html body #root {
    height: 100%;
    width: 100vw;
}
body {
    margin: 0;
    padding: 0;
}
h1{
  text-align: center;
  position: relative;
  height: 8rem;
  margin-top: 80px;
  padding-top: 50px;
  font-size: 40px;  
}

nav {
    width: 100vw;
    display: flex;
    background-color: $midnight !important;
    position: absolute;
    bottom: 0;
    ul {
        display: flex;
        justify-content: flex-end;
        width: 100vw;
        padding-top: 8px;
        padding-right: 60px;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
    li{
        list-style: none;
        margin-left: 25px;
      }
      a{
        text-decoration: none !important;
        color: $pink;
      }
    }


.top-nav {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    background-color: $midnight;
    ul {
        display: flex;
        justify-content: flex-end;
        width: 100vw;
        padding-top: 8px;
        padding-right: 60px;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
    li{
        list-style: none;
        margin-left: 25px;
      }
      a{
        text-decoration: none !important;
        color: $pink;
      }
}

.bottom-nav {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    background-color: $midnight;
    ul {
        display: flex;
        justify-content: flex-end;
        width: 100vw;
        padding-top: 8px;
        padding-right: 60px;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }
    li{
        list-style: none;
        margin-left: 25px;
      }
      a{
        text-decoration: none !important;
        color: $pink;
      }
}
