body{
  max-width:100%
}
.intro{
  height: 90vh;
  width: 100vw;
  background-color: #282c34;
  font-size: 38px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.landing-btn{
  margin-top: 35px;
  padding: 10px 20px 10px 20px;
  font-size: 22px;
  border: 2px solid white;
  color: white;
  background-color: #282c34;
}
.landing-btn:hover{
  color:#E31B6D
}

.navbar{
  color: indianred;
  background-color: #1B242F;
  width: 100vw;
}

ul{
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  padding-top: 8px;
  padding-right: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
li{
  text-decoration: none;
  list-style: none;
  color: #E31B6D;
  margin-left: 25px;
}


/* ABOUT ME  */
.about-page{
  width: 100vw;
  height: 100vh;
  margin-bottom: 150px;
}
.about-top{
  width: 100vw;
  text-align: center;
}
.site-qualities-img {
  width: 75vw;
  height: auto;
  margin-top: 3rem;
}
.about-middle{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#portrait{
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-bottom: 1.8rem;
}
.about-middle-left p {
  color: #1B242F;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills ul {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.skills h3 {
  font-size: 15px;
  font-style: bold;
}
.skills{
  margin-top: 3rem;
  width: 500px;
}
.skills li{
  margin: 10px 0;
  list-style: none;
}
.bar{
  background: #EEEEEE;
  display: block;
  height: 15px;
  overflow: hidden;
}
.bar span{
  height: 15px;
  background: thistle;
  float: left;
}
#html{
  width: 90%;
  animation: html 2.5s;
  font-weight: 900;
}
#css{
  width: 90%;
  animation: css 2.5s;
}
#js{
  width: 80%;
  animation: js 2.5s;
}
#react{
  width: 80%;
  animation: react 2.5s;
}
#node{
  width: 70%;
  animation: node 2.5s;
}
#rubyr{
  width: 50%;
  animation: rubyr 2.5s;
}
#wordpress{
  width: 25%;
  animation: wordpress 2.5s;
}

@keyframes html{
  0%{
      Width: 0;
  }
}
@keyframes css{
  0%{
      Width: 0;
  }
}
@keyframes js{
  0%{
      Width: 0;
  }
}
@keyframes react{
  0%{
      Width: 0;
  }
}
@keyframes node{
  0%{
      Width: 0;
  }
}
@keyframes rubyr{
  0%{
      Width: 0;
  }
}
@keyframes wordpress{
  0%{
      Width: 0;
  }
}
/* PROJECTS */

.projects-page{
  background-color: #F5F5F5;
  width: 100vw
}
h1{
  text-align: center;
  position: relative;
  height: 8rem;
  margin-top: 80px;
  padding-top: 50px;
  font-size: 40px;  
}
h1 #projects{
  margin-top: 4rem;
  background-color: #F5F5F5
}
.projects{
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #F5F5F5;
}
.projects-container{
  height: 60vh;
  margin-top: 4rem;
}

.projects-card{
  margin-right: 2rem;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.projects-card:hover{
  transform: rotateY(180deg);
}

.projects-card-front{
  backface-visibility: hidden;
}

.projects-card-back{
  backface-visibility: hidden;
  transform: rotateY(180deg)
}

.projects-card-img{
  height: 20rem;
  width: 32rem;
  border: 1px solid lightgray;
}  

/* RESUME */

.resume-page{
  height: 60vh;
}

/* CONTACT FORM */

.contact-body{
  background-color: #282c34;
  color: #FFFFFF;
  height: 100vh;
  width: 100vw;
}
.contact-form{
  position: relative;
  justify-content: center;
}

h1#contact{
  color: #E31B6D
}
.contact-first-row{
  display: flex;
  margin-top: 4rem;
}
.contact-name{
  display: flex;
  flex-direction: column;
  width: 18vw;
  margin-left: 28rem;   
}
.contact-number{
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  width: 18vw;
}
.contact-email{
  display: flex;
  flex-direction: column;
  width: 18vw;
  margin-left: 28rem;
}
.contact-subject{
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  width: 18vw;
}
.contact-second-row{
  margin-top: 1.5rem;
  display: flex;
}
.contact-textarea{
  margin-left: 28rem;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
textarea{
  border: 2px solid white;
  background-color: #282c34;
  color: #FFFFFF;
  width: 40.4vw;
  display: flex;
  justify-content: center;
}
.form-actions{
  width: 40vw;
  margin-top: 2rem;
  display: flex;
  justify-content: start;
  background-color: #282c34;
  margin-left: 24rem;
}

input[type="text"] {
  border: 2px solid white;
  background-color: #282c34;
  color: #FFFFFF;
}
input[type="submit"] {
  border: 2px solid white;
  background-color: #282c34;
  color: #FFFFFF;
}
input[type="reset"] {
  border: 2px solid white;
  background-color: #282c34;
  color: #FFFFFF;
}

/* CURVED CONTACT BAR */
/* #curve{
    width:100%;
    height:40px;
    border-bottom-left-radius:15% 85%;
    border-bottom-right-radius:15% 85%;
    border-bottom: 2px solid #E31B6D;
    background: white;
} */
